.container-detail-paket {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10%;
}

.hero-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

.package-info {
  margin-bottom: 20px;
}

.package-info h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.package-info h2 {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 10px;
}

.package-info p {
  line-height: 1.6;
}

.details {
  margin-bottom: 20px;
}

.flight-info, .hotel-info, .address-info {
  border: 2px solid #000;
  padding: 15px;
  margin-bottom: 20px;
}

.flight-info h3, .hotel-info h4, .address-info p {
  margin-bottom: 10px;
}

.flight-details, .hotel-details {
  margin-top: 10px;
}

.hotel-info img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.hotel-details {
  margin-top: 10px;
}

.hotel-details a,
.address-info a {
  text-decoration: none;
  color: #007bff;
}

.hotel-details a:hover,
.address-info a:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer .price {
  text-align: right; /* Geser teks ke kanan */
  margin-bottom: 10px;
}

.footer button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.footer button:hover {
  background-color: #0056b3;
}
