/* paket.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #333;
  padding: 10px;
  color: white;
  text-align: center;
}

.rowPaket {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.content-paket {
  width: 80%;
  padding: 70px;
  border-radius: 8px;
}

.paket {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fafafa;
}

.judul-paket {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.list-paket {
  padding: 10px;
}

.wrap-list-paket {
  display: flex;
  flex-direction: column;
}

.paketw {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hotel, .transportasi {
  width: 48%;
  padding: 10px;
}

.hotel div, .transportasi div {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.gambar-paket{
  margin-right: 10%;
}

.gambar-paket img {
  width: 50%;
  height: 10%;
  border-radius: 10px;
}

.infoPaket {
  padding-left: 20px;
}

.infoPaket p {
  margin: 5px 0;
  
}

/* Styling for the container div */
.paket-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start of the container */
  padding: 10px; /* Add some padding for better spacing */
  margin: 10px 0; /* Add some margin for spacing between elements */
}

/* Styling for the price paragraph */
.paket-container p {
  margin-bottom: 10px; /* Add some space below the price */
  font-size: 18px; /* Adjust font size */
  font-weight: bold; /* Make the price bold */
}

/* Styling for the button */
.detailPaket {
  padding: 10px 20px; /* Add padding inside the button */
  font-size: 16px; /* Adjust font size */
  background-color: #007BFF; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.detailPaket:hover {
  background-color: #0056b3; /* Darken background on hover */
}


.icon {
  font-size: 24px;
  margin-right: 5px;
}

.pp {
  font-size: 6px;  /* Makes the text smaller */
  color: #808080;   /* Sets the text color to gray */
}

