
/* Konten Paket */

.rowPaket {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.content-paket {
 flex: 1; 
}
  

/* Paket */
.paket {
  width: 90%; /* Ensure paket occupies full width within content-paket */
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 6%;
  top: -50px; /* Sesuaikan dengan jarak yang diinginkan */
  background-color: white; /* Warna latar belakang container */
  padding: 20px; /* Padding agar konten tidak terlalu dekat dengan tepi container */
  border-radius: 20px; /* Menggunakan border-radius untuk membuat container melengkung */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk container */
}

/* Judul Paket */
.judul-paket {
  font-weight: bold; /* Atur tebal huruf */
  margin-bottom: 10px; /* Atur jarak bawah judul */
}

/* Gambar Paket */
.gambar-paket {
  height: 300px; /* Atur tinggi gambar */
  background-position: center; /* Tampilkan gambar di tengah */
}

/* Info Paket */
.info {
  /* Tambahkan gaya sesuai kebutuhan */
}

/* Harga Paket */
.harga-paket {
  /* Tambahkan gaya sesuai kebutuhan */
}


/*filter*/
.content-filter{
  width: 30%; /* Set the width of the content-filter */
  height:fit-content;
  margin-left: 20px;
  border: 1px solid #000000;
  padding: 10px;
  box-sizing: border-box;
}


